/*General*/
html {
  scroll-behavior: smooth;
}

.section-content {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

/*Header section*/
.header-section {
    margin: 0;
    padding: 0;
    height: 80px;
    position: fixed;
    background-color: white;
}

.header-section .section-content {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-section .section-content .navigationLinks {
    display: flex;
    gap: 10px;
}

.header-section .section-content .navigationLinks .navigation-link {
    text-decoration: none;
}

.header-section .section-content button {
    height: fit-content;
}


/*Home section*/
.home-section {
    padding-top: 80px;
}

.home-section .section-content {
    display: flex;;
    height: 100vh;
    width: 100vw;
 
}

.left-side {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100%;
    border-right: 0px;

}

.left-side .about-mine {
    margin: 0;
    padding: 0;
    width: 75%;
    height: 90%;
    border: 1px solid black;
}

.left-side .mine-details {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    width: 15%;
    height: 50%;
}

.left-side .mine-details .detail {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 100%;
    height: 30%;
}

.right-side {
    margin : 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-left: 0px;
}

.right-side .summary {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 40%;
}

.right-side .summary .mine-location ,.right-side .summary .mine-history {
    width: 45%;
    height: 100%;
    border: 1px solid black;
}

.right-side .alerts {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 40%;
    border: 1px solid black;
}

/*Media section*/
.media-section .section-content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.media-section .section-content .top-widget {
    width: 90vw;
    height: 40vh;
    border: 1px solid black;
}

.media-section .section-content .bottom-widgets {
    display: flex;
    width: 100vw;
    height: 50vh;
}

.media-section .section-content .bottom-left-widgets {
    width: 50vw;
    height: 50vh;
    align-content: center;
    justify-items: center;
}

.media-section .section-content .bottom-left-widgets .pictures {
    width: 50%;
    height: 90%;
    border: 1px solid black;
}

.media-section .section-content .bottom-right-widgets {
    display: grid;
    grid-template-columns: auto auto;
    width: 50vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.media-section .section-content .bottom-right-widgets .widget {
    margin: 10px;
    width: 20vw;
    height: 20vh;
    border: 1px solid black;
}


/*About-Us section*/
.about-section .section-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.about-section .section-content .profile-image-container {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
    align-content: center;
}

.about-section .section-content .text-container {
    width: 70%;
    height: 40%;
    border: 1px solid black;
}


/*Contact-Us section*/
.contact-section .section-content {
    display: flex;
    height: 50vh;
}

.contact-section .section-content .contact-platforms {
    width: 40%;
    height: 90%;
    justify-items: center;
    align-content: center;

}

.contact-section .section-content .contact-platforms .contact-platform {
    margin: 10px;
    display: flex;
    gap: 2px;
}

.contact-section .section-content .form {
    justify-items: center;
    align-content: center;
    width: 60%;
    height: 90%;
}

.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid black;
}

.contact-section .contact-form {
  max-width: 50%;
}

.contact-section .contact-form .form-input:focus {
  border-color: orange;
}

.contact-section .contact-form textarea.form-input {
  height: 100px;
  padding: 12px;
  resize: vertical;
}

.contact-section .contact-form .submit-button {
  padding: 10px 26px;
  margin-top: 10px;
  font-size: medium;
  font-weight: medium;
  border-radius: 30px;
  border: 1px solid black;
  transition: 0.3s ease;
}


/*Footer section*/
.footer-section .section-content {
    display: flex;
    background-color: darkgray;
}

.footer-section .section-content .logo-column {
    padding: 10px;
    width: 25vw;
    align-content: center;
    justify-items: center;
}

.footer-section .section-content .logo-column .phone {
    padding: 0;
    margin: 0;
}

.footer-section .section-content .logo-column .address {
    margin: 0;
    padding: 0;
}

.footer-section .section-content .FooterNav-container {
    padding: 0;
    margin: 0;
    width: 25vw;
    align-content: center;
    justify-items: center;
}

.footer-section .section-content .FooterNav-container .FooterNav {
    display: flex;
    gap: 10px;
}

.footer-section .section-content .FooterNav-container .navigation-link {
    font-size: 20px;
    text-decoration: none;
}

.footer-section .section-content .portals {
    align-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    width: 25vw;
}

.footer-section .section-content .socials {
    margin: 0;
    padding: 0;
    width: 25vw;
    align-content: center;
    justify-items: center;

}

